# dependencies
node_modules/
frontend/node_modules/
backend/venv/
backend/fresh_venv/

# build
/build/
frontend/build/

# dotenv & secrets
backend/.env
backend/calories.db

# macOS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
